spring:
  application:
    name: geek-library-bc
  
  datasource:
    url: jdbc:postgresql://localhost:5432/geeklibrary
    username: geekuser
    password: geekpass123
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
  
  docker:
    compose:
      enabled: true
      file: compose.yaml
      lifecycle-management: start-only
