spring:
  application:
    name: geek-library-bc
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

app:
  gemini:
    api_key: ${GEMINI_API_KEY}
    model: gemini-2.5-flash
